/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* body */
body{
    background: lightsalmon;
}

section{
    width: 350px;
    height: 250px;
    margin: 20px auto;
    background-color: rgb(79, 65, 65);
    color: wheat;
    padding: 20px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50;
    position: relative;
    box-shadow: 20px 20px 20px rgb(95, 95, 101);


}
p{
    margin: 10px auto;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: 100;
    font-size: 10;

}
h2{
    font-family: 'Rubik Bubbles', cursive;
}

section a{
    background-color: aqua;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;

    position: absolute;
    right: 10px;
    top: 10px;
}
    